a {
    @apply flex items-center  gap-x-2 p-3 rounded-xl;
}

a:hover {
    @apply bg-[#F4F6FA];
}

a span {
    @apply text-lg text-[#7B7D92] font-medium;
}

a svg {
    color: #7b7d92;
}

a.active {
    @apply flex items-center gap-x-2 bg-[#F4F6FA] p-3 rounded-xl;
}

a.active span {
    @apply text-lg font-medium text-slate-800;
}

a.active svg {
    color: rgb(30 41 59);
}

.badgeHigh {
    @apply text-red-500 bg-red-100;
}

.badgeMedium {
    @apply text-yellow-500 bg-yellow-100;
}

.badgeLow {
    @apply text-green-500 bg-green-100;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: rgba(255, 255, 255, 0);
    padding: 0 2.2rem;
}

.time:hover input[type="time"] {
    @apply cursor-pointer bg-accent text-accent-foreground;
}

.time:hover svg {
    @apply text-slate-900;
}

.map-container {
    height: 100%;
    width: 100%;
    @apply rounded-lg m-3;
}

.spinner {
    animation: spin 20s linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

#curve {
    fill: transparent;

}

.text {
    fill: white;
    transform-origin: 50% 50%;
    
}
